/dist/.swagger-codegen-ignore
/dist/.swagger-codegen/
/dist/README.md
/dist/swagger.json
/dist/openapi.json
/dist/redoc-static.html
/build/
node_modules
.tmp
.sass-cache
.DS_Store
npm-debug.log
tmp
.projects
*.orig

/cypress/screenshots
/cypress/videos
/cypress/logs
out.js
