/docs/.swagger-codegen-ignore
/docs/.swagger-codegen/
/docs/README.md
/build/
node_modules
.tmp
.sass-cache
.DS_Store
npm-debug.log
tmp
.projects
*.orig

/cypress/screenshots
/cypress/videos
/cypress/logs
out.js
